/*.log
/cnnmodel/*.h5
/nlpmodel/lstm/*.h5
/pytorchdata_fashionmnist
/nlpmodel/text8/text8.w2v.model
/nlpmodel/text8/text8.w2v.model.trainables.syn1neg.npy
/nlpmodel/text8/text8.w2v.model.wv.vectors.npy
/nlpmodel/text8/text8
/nlpmodel/lstm/addedbinarybilstm.yaml
/nlpmodel/lstm/addedbinarybilstm_weight.h5
/nlpmodel/lstm/multiplecategorybilstm.h5
/nlpmodel/lstm/multiplecategorybilstm.json
/nlpmodel/lstm/multiplecategorybilstm.yaml
/nlpmodel/lstm/multiplecategorybilstm_weight.h5
/nlpmodel/lstm/addedbinarybilstm.h5
/nlpmodel/lstm/addedbinarybilstm.json
/nlpmodel/flair
/nlpmodel/pkuseg
/cnnmodel
/keras_attention
/cifar10
/crawlfile
/log/info-20190227.log
/nlpmodel/lstm/modellog/bilstm_epoch_100_batchsize_64_20181226.txt
/nlpmodel/lstm/modellog/bilstm_epoch_500_batchsize_64_20181226.txt
/output/pkuseg/output.txt
