/*.log
/cnnmodel/*.h5
/nlpmodel/lstm/*.h5
/pytorchdata_fashionmnist
/nlpmodel/text8/text8.w2v.model
/nlpmodel/text8/text8.w2v.model.trainables.syn1neg.npy
/nlpmodel/text8/text8.w2v.model.wv.vectors.npy
/nlpmodel/text8/text8
/nlpmodel/lstm/addedbinarybilstm.yaml
/nlpmodel/lstm/addedbinarybilstm_weight.h5
/nlpmodel/lstm/multiplecategorybilstm.h5
/nlpmodel/lstm/multiplecategorybilstm.json
/nlpmodel/lstm/multiplecategorybilstm.yaml
/nlpmodel/lstm/multiplecategorybilstm_weight.h5
/nlpmodel/lstm/addedbinarybilstm.h5
/nlpmodel/lstm/addedbinarybilstm.json
/nlpmodel/flair
/nlpmodel/pkuseg
/cnnmodel
/keras_attention
/cifar10
/crawlfile
/log/info-20190227.log
/nlpmodel/lstm/modellog/bilstm_epoch_100_batchsize_64_20181226.txt
/nlpmodel/lstm/modellog/bilstm_epoch_500_batchsize_64_20181226.txt
/output/pkuseg/output.txt
/17flowers/train
/17flowers/test
/17flowers
/.ipynb_checkpoints/23. NLP Introduction-checkpoint.ipynb
/.ipynb_checkpoints/23.1 Flair NLP Package on PyTorch-checkpoint.ipynb
/.ipynb_checkpoints/23.2 TextRank Inroduction-checkpoint.ipynb
/.ipynb_checkpoints/23.3 SnowNLP Practice-checkpoint.ipynb
/.ipynb_checkpoints/24. Neural Network Introduction-checkpoint.ipynb
/.ipynb_checkpoints/24.0.0 手写最简单的神经网络-checkpoint.ipynb
/.ipynb_checkpoints/24.0.1 PyTorch Basic-checkpoint.ipynb
/.ipynb_checkpoints/24.1 Pytorch Practice_Fashion MNIST-checkpoint.ipynb
/.ipynb_checkpoints/24.2 Transformer Practice_Attention is All You Need-checkpoint.ipynb
/.ipynb_checkpoints/24.3 ImageDataGenerator in Keras-checkpoint.ipynb
/.ipynb_checkpoints/25. Interesting Python Libiraries-checkpoint.ipynb
/.ipynb_checkpoints/26. 量化投资相关内容-checkpoint.ipynb
/.ipynb_checkpoints/27. 优秀的资源收集-checkpoint.ipynb
/.ipynb_checkpoints/Training Question 1-checkpoint.ipynb
/.ipynb_checkpoints/00.1 GIT and PyCharm Introduction-checkpoint.ipynb
/.ipynb_checkpoints/00.2 project structure Recommendation-checkpoint.ipynb
/.ipynb_checkpoints/00.newfeatureforpython3.x-checkpoint.ipynb
/.ipynb_checkpoints/01.Install and basesyntax-checkpoint.ipynb
/.ipynb_checkpoints/02. basic data type-checkpoint.ipynb
/.ipynb_checkpoints/03. comment and exception-checkpoint.ipynb
/.ipynb_checkpoints/04. operator-checkpoint.ipynb
/.ipynb_checkpoints/05. condition control-checkpoint.ipynb
/.ipynb_checkpoints/06. circle statement-checkpoint.ipynb
/.ipynb_checkpoints/07. iterandgenerator-checkpoint.ipynb
/.ipynb_checkpoints/08. function-checkpoint.ipynb
/.ipynb_checkpoints/09. module-checkpoint.ipynb
/.ipynb_checkpoints/10. input and output-checkpoint.ipynb
/.ipynb_checkpoints/11. object-oriented (class)-checkpoint.ipynb
/.ipynb_checkpoints/12. regex-checkpoint.ipynb
/.ipynb_checkpoints/13. regex (for python)-checkpoint.ipynb
/.ipynb_checkpoints/14. regex samples-checkpoint.ipynb
/.ipynb_checkpoints/15. HTML Introduction-checkpoint.ipynb
/.ipynb_checkpoints/16. Parse HTML by XPATH-checkpoint.ipynb
/.ipynb_checkpoints/17. Parse HTML by Beautiful Soup 4-checkpoint.ipynb
/.ipynb_checkpoints/17.1 Sample_Crawl Tieba Image Files-checkpoint.ipynb
/.ipynb_checkpoints/18.1 Web Crawler - Selenium入门及使用-checkpoint.ipynb
/.ipynb_checkpoints/19. Database Operation By Python-checkpoint.ipynb
/.ipynb_checkpoints/20. Data Operation Package_Numpy-checkpoint.ipynb
/.ipynb_checkpoints/20.1 Data Operation Package_Numpy_Vital Functions-checkpoint.ipynb
/.ipynb_checkpoints/20.2 Data Operation Package_Numpy_Samples-checkpoint.ipynb
/.ipynb_checkpoints/21. Data Mining Package_Pandas-checkpoint.ipynb
/.ipynb_checkpoints/21.1 Data Mining Package_Pandas_Samples-checkpoint.ipynb
/.ipynb_checkpoints/22. Machine Learning Basic Introduction-checkpoint.ipynb
/.ipynb_checkpoints/22.1 Hello World_Machine Learning-checkpoint.ipynb
/.ipynb_checkpoints/22.2 手动实现梯度下降-checkpoint.ipynb
/.ipynb_checkpoints/28. Python练习题-checkpoint.ipynb
/.ipynb_checkpoints/28. Python练习题_答案-checkpoint.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.ipynb_checkpoints/readme-checkpoint.md
